body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nunito {
  font-family: "Nunito sans", sans-serif !important;
}

.custom-header-pos {
  text-align: center!;
}

.custom-caption {
  background-color: transparent !important;
}

.custom-caption h3,
.custom-caption p {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.6) !important; /* soft shadow for readability */
  color: #fff !important; /* ensure text is white */
}